.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // max-width: 700px;
  margin-left: 30px;
  color: var(--dark-deep-blue);
  h1 {
    margin-bottom: 20px;
  }
  .textField {
    // margin: 10px 15px;
    margin: 5px 0;
    width: 100%;
  }
  button {
    width: 100%;
    margin: 30px 0;
    padding: 10px 15px;
    background-color: var(--dark-deep-blue);
    color: var(--font-white);
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 690px) {
  .wrapper {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    h1 {
      font-size: 18px;
    }
    .textField {
      margin: 5px 5px;
    }
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    button {
      width: 100%;
      margin: 30px 5px;
      font-size: 14px;
    }
  }
}
